.body {
    margin: 50px 100px;
}

.main {
    margin: 50px 0px;
}

.new-result {
    border-top: 2px solid gray;
    margin-top: 40px;
    padding: 20px;
}

.correct-answer  {
    color: green;
}

.wrong-answer  {
    color: red;
}
